@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<div>
    <img class="d-block mx-auto mb-4" src="https://www.aeropuertosvipclub.com.ar/imgs/logo-1x.png" alt="" width="150px">
</div>

<div>
    <h3 class="text-gold">Como funciona esto?</h3>
    <p><b>Touch-Less:</b> Este menu fue pensado para que tengas la menor interaccion posible con elementos que puedan transferir el virus COVID-19</p>
    <p><b>Que tengo que hacer:</b></p>
    <ul class="text-secondary">
        <li>Escanee el código QR que se encuentra en su mesa</li>
        <li>Seleccione del menu lo que quiera ordenar</li>
        <li>Presione en enviar para ingresar su pedido</li>
        <li>Una vez finalizado, confirme con el personal de la sala que todo esta ok</li>
    </ul>
    <p>
        Sera entregado en su mesa dentro de los 40 minutos desde la confirmacion de la orden.
    </p>
</div>
<br>
<div>
    <h3 class="text-gold">How it works?</h3>
    <p><b>Touch-Less:</b> This menu was thinked in the cotext of COVID-19</p>
    <p><b>What i can to do:</b></p>
    <ul class="text-secondary">
        <li>Scan el código QR que se encuentra en su mesa</li>
        <li>Seleccione del menu lo que quiera ordenar</li>
        <li>Presione en enviar para ingresar su pedido</li>
        <li>Una vez finalizado, confirme con el personal de la sala que todo esta ok</li>
    </ul>
    <p>
        Sera entregado en su mesa dentro de los 40 minutos desde la confirmacion de la orden.
    </p>
</div>